<!-- This is a dummy screen and will be deleted in future -->
<div class="mb-5">
  <p class="orient vertical-spacing">
    <strong>{{'LAUNCH_SCREEN.LAUNCH_TITLE'| translate }}</strong>
  </p>

  <form [formGroup]="launchForm">
    <div class="row orient">
      <div class="form-group col-md-3">
        <div class="d-flex flex-column">
          <label for="contractName" class="label label-space">{{'LAUNCH_SCREEN.CONTRACT_NAME'| translate }}</label>
          <input type="text" formControlName="contractName" class="form-control rectangle-5 text-box-space" id="contractName" [(ngModel)]="contractNameModel"
            placeholder="{{'LAUNCH_SCREEN.TITLE_PLACHOLDER'| translate }}">
        </div>
      </div>
    </div>

    <div class="row orient">
      <div class="form-group col-md-3">
        <div class="d-flex flex-column">
          <label for="contractType" class="label label-space">{{'LAUNCH_SCREEN.CONTRACT_TYPE'| translate }}</label>
          <select class="form-control rectangle-5" id="contractType" formControlName="contractType" [(ngModel)]="contractTypeModel">
            <option *ngFor="let contractType of contractTypes" [ngValue]="contractType.contractTypeId">
              {{ contractType.longDescription }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="row orient">
      <div class="form-group col-md-2">
        <label for="contractStartDate">{{'LAUNCH_SCREEN.CONTRACT_START_DATE'| translate }}</label>
        <div class="input-group">
          <input class="form-control form-control-sm date-field" placeholder="{{'LAUNCH_SCREEN.DATE_FORMAT'| translate }}" name="dp"
            ngbDatepicker #contractStartDate="ngbDatepicker" id="contractStartDate" formControlName="contractStartDate" [(ngModel)]="contractStartDtModel">
          <button class="input-group-addon" (click)="contractStartDate.toggle()" type="button">
            <img src="{{imageDir}}assets/images/calendar-icon.svg" alt="calendar" />
          </button>
        </div>
      </div>

      <div class="form-group col-md-2">
        <label for="contractEndDate">{{'LAUNCH_SCREEN.CONTRACT_END_DATE'| translate }}</label>
        <div class="input-group">
          <input class="form-control form-control-sm date-field" placeholder="{{'LAUNCH_SCREEN.DATE_FORMAT'| translate }}" name="dp"
            ngbDatepicker #contractEndDate="ngbDatepicker" id="contractEndDate" formControlName="contractEndDate" [(ngModel)]="contractEndDtModel">
          <button class="input-group-addon" (click)="contractEndDate.toggle()" type="button">
            <img src="{{imageDir}}assets/images/calendar-icon.svg" alt="calendar" />
          </button>
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="!launchForm.valid" class="btn btn-primary float-right" (click)="onSubmit()">{{'COMMON.BTN_SUBMIT'| translate }}</button>
  </form>
</div>

<div class="spacing"></div>
