@import "../../../assets/scss/partials/variables";

.setup-header {
  height: 80px;
  border-bottom: solid 1px $gfs-gray-4;
}

.title {
  font-weight: 500;
  font-size: $gfs-fontsize-24;
  position: relative;
  left: 20px;
}

.contract-info {
  font-size: $gfs-fontsize-14;
  color: $gfs-stepper-gray;
  text-align: right;
}

.stepper-container {
  height: 75px;
  border-bottom: solid 1px $gfs-gray-4;
}

.stepper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 5px 70px 0 20px;
}

.horizontal-divider {
  padding-top: 2px;
  margin: 0 20px;
  min-width: 26px;
  border-bottom: solid 1px $gfs-gray-2;
}
.last-divider {
  display: none;
}

.step {
  transition: 0.5s;
  display: flex;
}

a {
  padding: 20px 0;
  font-size: $gfs-fontsize-14;
  text-align: left;
  color: $gfs-label-black;
  text-decoration: none;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.label {
  width: 139px;
  height: 24px;
  font-size: $gfs-fontsize-14;
  font-weight: bold;
  line-height: 1.71;
  text-align: left;
  color: $gfs-stepper-black;
}

.completed > .circle {
  background: none;
}

.completed > .label {
  color: $gfs-stepper-black2;
}

.current > .circle {
  background: $gfs-lt-navy-blue;
}
.current > .label {
  font-weight: 600;
  color: $gfs-stepper-black2;
}

.circle {
  display: inline-block;
  color: $gfs-white;
  border-radius: 50%;
  background: $gfs-circle-background;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-right: 15px;
  text-align: center;
}

.scrollable-content {
  height: calc(100% - 175px);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 3;
}

.btn {
  width: 132px;
  margin-bottom: 20px;
}
