$gfs-lt-navy-blue:#2b5a87;
$gfs-label-black:#212121;
$gfs-stepper-black:#424242;
$gfs-white:#fff;
$gfs-track-off:rgba(34, 31, 31, 0.26);
$gfs-track-on:rgba(43, 90, 135, 0.5);
$gfs-gray-1:#eaeaea;
$gfs-knob-color-off:#f1f1f1;
$gfs-knob-color-on:#385980;
$gfs-gray-2: #9e9e9e;
$gfs-warning: red;
$gfs-header-color: #eee;
$gfs-stepper-gray: #757575;
$gfs-stepper-black2: #000;
$gfs-circle-background: rgba(0, 0, 0, 0.38);
$gfs-header-boxshadow: rgba(0, 0, 0, 0.2);
$gfs-gray-3: #bdbdbd;
$gfs-radio-white: #f2f2f2;
$gfs-radio-blue: #4F8196;
$gfs-radio-border: #ccc;
$gfs-gray-4: #e0e0e0;
$gfs-gray-5: #aaa;
$gfs-red:#f24965;
$gfs-orange: #e2643b;
$gfs-white-2: #fafafa;
$gfs-green: #1d9e86;


$gfs-fontsize-18: 18px;
$gfs-fontsize-16: 16px;
$gfs-fontsize-24: 24px;
$gfs-fontsize-14: 14px;
$gfs-fontsize-11: 11px;
$gfs-fontsize-12: 12px;

$gfs-font-family: Roboto;

