<div *ngIf="user | async; let user; else loading">
  <div class="orient">

    <div class="row mt-3">
      <div class="col-md-11 label">
        {{'REVIEW_LABEL.CONTRACT_PRICING_INFORMATION'| translate }}
      </div>
      <div class="col-md-1 edit" (click)="navigateToContractPricing()">
        <u> {{'REVIEW_LABEL.EDIT'| translate }} </u>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-5 sub-label">
        {{'REVIEW_LABEL.DURATION_OF_GFS_COST'| translate }}
      </div>
      <div class="col-md-1">

      </div>
      <div class="col-md-4 language">
        {{'REVIEW_LABEL.LANGUAGE'| translate }}
      </div>
    </div>


    <div class="row mt-4">
      <div class="col-md-5">
        {{ reviewData?.contractPricingReviewDTO?.scheduleForCostContractLanguage }}
      </div>
      <div class="col-md-1">

      </div>
      <div class="col-md-4 variable-header">
        <div class="variable-header">
          {{'CUST_INFO_LABEL.SCHEDULE_FOR_COST'| translate }}
        </div>
        <div class="variable">
          {{reviewData?.contractPricingReviewDTO?.scheduleForCost}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <hr>
      </div>
    </div>

    <div *ngIf="reviewData?.contractPricingReviewDTO?.formalPriceAuditContractLanguage || reviewData?.contractPricingReviewDTO?.priceVerificationContractLanguage">
      <div class="row">
        <div class="col-md-5 sub-label">
          {{alphabetSet}}{{'REVIEW_LABEL.PRICE_AUDIT'| translate }}
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-4 language">
          {{'REVIEW_LABEL.LANGUAGE'| translate }}
        </div>
      </div>




      <div class="row mt-4">
        <div class="col-md-5">
          <div>
            {{reviewData?.contractPricingReviewDTO?.formalPriceAuditContractLanguage}}
          </div>
          <div class="mt-4" *ngIf="reviewData.contractPricingReviewDTO.formalPriceAudit == labelYes">
            {{reviewData.contractPricingReviewDTO?.priceVerificationContractLanguage}}
          </div>
          <div *ngIf="reviewData.contractPricingReviewDTO.formalPriceAudit == labelNo">
            {{reviewData.contractPricingReviewDTO?.priceVerificationContractLanguage}}
          </div>
        </div>

        <div class="col-md-1">

        </div>
        <div class="col-md-4">
          <div class="variable-header">
            {{'REVIEW_LABEL.FORMAL_PRICE_AUDIT_PRIVELEGES'| translate }}
          </div>
          <div class="variable">
            {{reviewData.contractPricingReviewDTO.formalPriceAudit}}
          </div>
          <div class="variable-header mt-3">
            {{'REVIEW_LABEL.PRICE_VERIFICATION_PRIVELEGES'| translate }}
          </div>
          <div class="variable">
            {{reviewData.contractPricingReviewDTO.priceVerification}}
          </div>
        </div>

      </div>


      <div class="row">
        <div class="col-md-10 expand-bottom" *ngIf="(reviewData.contractPricingReviewDTO.formalPriceAuditContractLanguage == null) && (reviewData.contractPricingReviewDTO.priceVerificationContractLanguage == null)">
        </div>
        <div class="col-md-10" *ngIf="(reviewData?.contractPricingReviewDTO?.formalPriceAuditContractLanguage | json) == ({} | json) && (reviewData?.contractPricingReviewDTO?.priceVerificationContractLanguage | json) == ({} | json)">
          <hr>
        </div>
        <div class="col-md-10" *ngIf="(reviewData?.contractPricingReviewDTO?.formalPriceAuditContractLanguage | json) !== ({} | json) && (reviewData?.contractPricingReviewDTO?.priceVerificationContractLanguage | json) !== ({} | json)">
          <hr>
        </div>
      </div>
    </div>




    <div class="row">
      <div class="col-md-5 sub-label">
        {{next_val}}{{'REVIEW_LABEL.COST_OF_PRODUCTS'| translate }}
      </div>
      <div class="col-md-1">

      </div>
      <div class="col-md-4 language">
        {{'REVIEW_LABEL.LANGUAGE'| translate }}
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-5">
        {{reviewData.contractPricingReviewDTO.costOfProductsContractLanguage}}
      </div>
      <div class="col-md-1">

      </div>
      <div class="col-md-4 variable-header">
        <div class="variable-header">
          {{'REVIEW_LABEL.GFS_TRANSFER_FEES'| translate }}
        </div>
        <div class="variable">
          {{reviewData.contractPricingReviewDTO.gfsTransferFee}}
        </div>
        <div class="variable-header mt-3">
          {{'REVIEW_LABEL.GFS_LABEL_ASSESSMENT_FEE'| translate }}
        </div>
        <div class="variable">
          {{reviewData.contractPricingReviewDTO.gfsLabelAssesmentFee}}
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div *ngIf="contractType != contractTypeIFS" class="orient">
    <div class="row mt-1">
      <div class="col-md-11 label">
        {{'REVIEW_LABEL.DISTRIBUTION_CENTERS'| translate }}
      </div>
      <div class="col-md-1 edit" (click)="navigateToDistributionCenter()">
        <u>{{'REVIEW_LABEL.EDIT'| translate }}</u>
      </div>
    </div>

    <div class="mt-3 language">
      {{'REVIEW_LABEL.LANGUAGE'| translate }}
    </div>

    <div *ngFor="let distributionCenterName of dcList">
      <div class="data mt-3">
        {{distributionCenterName}}
      </div>
    </div>
  </div>

  <div *ngIf="contractType != contractTypeIFS">
    <hr>
  </div>


  <div class="orient">
    <div class="row mt-1">
      <div *ngIf="contractType != contractTypeIFS" class="col-md-11 label">
        {{'REVIEW_LABEL.MARKUPS'| translate }}
      </div>
      <div *ngIf="contractType == contractTypeIFS" class="col-md-11 label">
        {{'REVIEW_LABEL.MARKUPS_2'| translate }}
      </div>
      <div class="col-md-1 edit" (click)="navigateToMarkup()">
        <u>{{'REVIEW_LABEL.EDIT'| translate }}</u>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-5 sub-label">
        {{'REVIEW_LABEL.SELL_PRICE'| translate }}
      </div>
      <div class="col-md-1">

      </div>
      <div class="col-md-4 language">
        {{'REVIEW_LABEL.LANGUAGE'| translate }}
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-5">
        {{ reviewData.markupReviewDTO.markupBasedOnSellContractLanguage1 }}
        <br>
        <br> {{ reviewData.markupReviewDTO.markupBasedOnSellContractLanguage2 }}
      </div>
      <div class="col-md-1">

      </div>
      <div class="col-md-4 variable-header">
        <div class="variable-header">
          {{'REVIEW_LABEL.MARKUP_BASED_ON_SELL'| translate }}
        </div>
        <div class="variable">
          {{reviewData.markupReviewDTO.markupBasedOnSell}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <hr>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-5 sub-label">
        {{'REVIEW_LABEL.MARKUP_STRUCTURES'| translate }}
      </div>
    </div>

    <div class="row mt-2">
      <div class=" col-md-12 mt-3 language">
        {{'REVIEW_LABEL.LANGUAGE'| translate }}
      </div>
    </div>

    <div *ngFor="let markupGrid of markupGridData; let i = index; let l = last">
      <div class="row">
        <div class="sub-label mb-3 mt-3 col-md-12">
          {{markupGrid.markupName}}
        </div>
      </div>

      <div *ngFor="let gridvalues of markupGrid.markup; let i = index">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="data col-md-3 mt-2">
                {{ gridvalues.productType | titlecase }}
              </div>
              <div class="col-md-2 data">
                <div *ngIf="gridvalues.unit == '$'">
                  {{gridvalues.unit}}{{gridvalues.markup}}
                </div>
                <div *ngIf="gridvalues.unit == '%'">
                  {{gridvalues.markup}}{{gridvalues.unit}}
                </div>
              </div>
              <div class="col-md-3 data">
                <div *ngIf="gridvalues.markupType == 1">
                  {{'DATATABLE_LABEL.SELL_UNIT' | translate }}
                </div>
                <div *ngIf="gridvalues.markupType == 2">
                  {{'DATATABLE_LABEL.PER_CASE' | translate }}
                </div>
                <div *ngIf="gridvalues.markupType == 3">
                  {{'DATATABLE_LABEL.PER_WEIGHT' | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-md-3">
            <div *ngIf="!l">
              <hr>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
  <hr>

  <div *ngIf="contractType != contractTypeIFS" class="orient">
    <div class="row mt-1">
      <div class="col-md-11 label">
        {{'REVIEW_LABEL.SPLIT_CASE_FEE'| translate }}
      </div>
      <div class="col-md-1 edit" (click)="navigateToSplitCase()">
        <u>{{'REVIEW_LABEL.EDIT'| translate }}</u>
      </div>
    </div>

    <div class="mt-3 language">
      {{'REVIEW_LABEL.LANGUAGE'| translate }}
    </div>

    <div class="mt-3 mb-3 sub-label">
      {{'REVIEW_LABEL.CONTRACT'| translate }}
    </div>

    <div class="mt-2" *ngFor="let data of reviewData?.splitCaseFee">
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-3 data">
              {{data.productType | titlecase}}
            </div>
            <div class="col-md-2 data">
              <div *ngIf="data.unit == '$'">
                {{data.unit}}{{data.splitCaseFee}}
              </div>
              <div *ngIf="data.unit == '%'">
                {{data.splitCaseFee}}{{data.unit}}
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="fixed-bottom">
    <hr class="hr-adjust">
    <button type="submit" class="pull-right btn btn-primary mb-3">{{'COMMON.BTN_COMMIT_CPP'| translate }}</button>
    <button type="submit" class="pull-right btn btn-primary mb-3 save-progress">{{'COMMON.SAVE_PROGRESS'| translate }}</button>
    <button type="submit" class="pull-right btn btn-primary mb-3 download">
      <em class="fa fa-download" aria-hidden="true"></em>
    </button>
  </div>

</div>

<ng-template #loading>
  <div class="orient">
    <strong> Review Data Loading...This may take few minutes</strong>
  </div>
  <div class="spinner">
  </div>
</ng-template>
